.navbar {
    background-color: black;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: .5rem;
    display: flex;
    justify-content:end;
  }
  
  .navbar ul li {
    margin-right: 20px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  